<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fedi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>26.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
  <!-- Support .fedi file type -->
  <key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).fedi</string>
			<key>UTTypeDescription</key>
			<string>Fedi Backup File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fedi</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Fedi Backup</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).fedi</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fedi</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fedi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lightning</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bitcoin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lnurlw</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lnurlp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>keyauth</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>233261833</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<!-- This is needed for the FediModBrowser to be able to open captive portal URLs used by wireless APs -->
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>connect.fedi.xyz</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<!-- This is an alternate domain for the same purpose as connect.fedi.xyz -->
			<key>connect.satenet.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>15.1</string>
	<key>NSCameraUsageDescription</key>
	<string>Fedi needs access to the camera to scan QR codes</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Fedi does not use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Fedi needs access to your microphone to record a social backup video</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fedi needs access to save photos to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fedi needs access to your photo library to select media for your avatar and chat attachments</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>AlbertSans-Regular.ttf</string>
		<string>AlbertSans-Black.ttf</string>
		<string>AlbertSans-BlackItalic.ttf</string>
		<string>AlbertSans-Bold.ttf</string>
		<string>AlbertSans-BoldItalic.ttf</string>
		<string>AlbertSans-ExtraBold.ttf</string>
		<string>AlbertSans-ExtraBoldItalic.ttf</string>
		<string>AlbertSans-ExtraLight.ttf</string>
		<string>AlbertSans-ExtraLightItalic.ttf</string>
		<string>AlbertSans-Italic.ttf</string>
		<string>AlbertSans-Light.ttf</string>
		<string>AlbertSans-LightItalic.ttf</string>
		<string>AlbertSans-Medium.ttf</string>
		<string>AlbertSans-MediumItalic.ttf</string>
		<string>AlbertSans-SemiBold.ttf</string>
		<string>AlbertSans-SemiBoldItalic.ttf</string>
		<string>AlbertSans-Thin.ttf</string>
		<string>AlbertSans-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SimpleLaunch.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
