[package]
name = "dvd-client"
version = "0.3.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
