<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDV_uleuGKxd8X2wNRaM0tA2KzZTjgBdOw</string>
	<key>GCM_SENDER_ID</key>
	<string>472796529807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fedi.alpha</string>
	<key>PROJECT_ID</key>
	<string>fedi-xmpp-chat-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>fedi-xmpp-chat-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<false></false>
	<key>GOOGLE_APP_ID</key>
	<string>1:472796529807:ios:5affcf8986c77e7a789cfa</string>
</dict>
</plist>