target
fedi-ffi/bindings/

# android/kotlin
.idea/
fedi-bindings.iml
libfediffi.so
fedi.kt
local.properties
.DS_Store
artifacts
kotlinLibDeps

# swift related
/.build
/.swiftpm
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
fediFFI.xcframework.zip
fediFFI
*.a
Fedi.swift
fediFFI.h
.build
.swiftpm
fedi-swift/Sources/
