<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB05rQUFyizHi1qcZBTuhiH9yh6viPdQRY</string>
	<key>BUNDLE_ID</key>
	<string>org.fedi.edge</string>
	<key>GCM_SENDER_ID</key>
	<string>1089468211130</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089468211130:ios:99029ed2fc2f29158d8783</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>fedi-matrix-push-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>fedi-matrix-push-notifications.firebasestorage.app</string>
</dict>
</plist>
